.App {
  text-align: center;
}

.content {
  text-align: left;
}

.content > img {
  float: left;
  margin: 20px;
}

.highlight.selected.selected-red {
  background-color:red;
}

.highlight.selected.selected-green {
  background-color:darkgreen;
}

.highlight.selected.selected-gray {
  background-color:gray;
}


.highlight.highlight-gray {
  background-color:lightgray
}

.highlight.highlight-red {
  background-color:pink;
}
.highlight.highlight-green {
  background-color:green;
}
.highlight.highlight-yellow {
  background-color:yellow;
}

.highlight.highlight-green.highlight-gray{
  background-color: #09d3ac;
  
}

.highlight {
  transition: background-color 0.5s;
}

.annotation {
    border: 1px;
    border-color: gray;
    border-style: solid;
	margin: 2px;
	padding: 5px;
	text-align: left;
}

.annotation:hover{
  cursor: pointer;
}

.hidden {
  display: none;
}