.App {
  text-align: center;
}

.content {
  text-align: left;
}

.content > img {
  float: left;
  margin: 20px;
}

.highlight-gray {
  background-color:rgba(120, 120, 120, 0.5);
}

.highlight-red {
  background-color:red;
}
.highlight-green {
  background-color:green;
}
.highlight-yellow {
  background-color:yellow;
}

.highlight-green.highlight-gray{
  background-color: #09d3ac;
  
}

[class^="highlight-"]:hover {
  cursor:pointer;
}