.App {
  text-align: center;
}

.content {
  text-align: left;
}

.content > img {
  float: left;
  margin: 20px;
}

.highlight.highlight-gray {
  background-color:rgba(120, 120, 120, 0.5);
}

.highlight.highlight-red {
  background-color:red;
}
.highlight.highlight-green {
  background-color:green;
}
.highlight.highlight-yellow {
  background-color:yellow;
}

.highlight.highlight-green.highlight-gray{
  background-color: #09d3ac;
  
}

.annotation {
    border: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    margin: 2px
}

.annotation:hover{
  cursor: pointer;
}
.hidden {
  display: none;
}